/* Azul oficial do ícone */
:root {
    --embraer-blue: #1975B8;
}

/* Barra de título */
div#titlearea {
    background-color: var(--embraer-blue);
}

/* Título */
div#projectname {
    color: white;
}

/* Links */
a, a.el {
    color: var(--embraer-blue);
}

a:hover {
    color: #48A7E6; /* tom mais claro opcional */
}
